In [6]:
import pandas as pd
import os
import re
import numpy as np
# List the files in the csv subdirectory of the ministry
files_path = "opendata/ministry_of_human_resources_and_social_development/csv"
csv_files = os.listdir(files_path)

filtered_files = [file for file in csv_files if re.search(r'2025|2024', file, re.IGNORECASE)]
print(filtered_files)
print(len(filtered_files))

['Appointments for first quarter of 2024CSV.csv', 'Statistics of the labor government sector2024csv.csv', 'Statistics of workers in the private sector 2024.csv', 'csv Service terminations in the gov sector 2024 Q2.csv', 'Service terminations in the gov sector 2024 Q3CSV.csv', 'Appointments for third quarter of 2024CSV.csv', 'Service terminations in the gov sector 2024 Q1csv.csv', 'csvService terminations in the gov sector 2024 Q4.csv', 'Service terminations in the gov sector 2025 Q1CSV.csv']
9

In [9]:
hr_1 = pd.read_csv(f"{files_path}/{filtered_files[1]}")
print(filtered_files[0])
# Create an index of the columns that are arabic and the ones that are english. 1 = arabic, 0 = english 
language_index = np.array([1 if re.search(r'[ع-ي]', col) else 0 for col in hr_1.columns])

print(language_index)
hr_1

Appointments for first quarter of 2024CSV.csv
[1 1 1 0 1 0 1 0 0 0 0 1 1 1 1 0 1 0 1]

,السنة,الربع,سعودي,F4,غير سعودي,F6,الإجمالي الكلي,F8,F9,F10,F11,السنة2,الربع_2,المنطقة الادارية,سعودي2,F16,غير سعودي2,F18,الإجمالي الكلي2
0,NaN,NaN,أنثى,ذكر,أنثى,ذكر,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,أنثى,ذكر,أنثى,ذكر,NaN
1,2024,Q1,505986,666273,19431,21716,1213406,NaN,NaN,NaN,NaN,2024.0,Q1,عسير,45772,47549,2044,2005,97370.0
2,2024,Q2,501282,660063,19165,21501,1202011,NaN,NaN,NaN,NaN,2024.0,Q1,الباحه,11497,12414,716,500,25127.0
3,2024,Q3,505403,658005,18821,20995,1203224,NaN,NaN,NaN,NaN,2024.0,Q1,الجوف,11422,16252,645,896,29215.0
4,2024,Q4,504927,654307,18578,20691,1198503,NaN,NaN,NaN,NaN,2024.0,Q1,الشرقية,50922,62795,2324,3181,119222.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN