In [1]:
import pandas as pd
import dew_gwdata as gd
import sqlite3

In [2]:
aq = gd.DEWAquarius(
    "prod",
    cache_conn=sqlite3.connect(r"c:\devapps\kent\apps\wk-prod\waterkennect.sqlite"),
)

In [3]:
%%time
aq.find_locations(name="*PTA*", from_cache=True)

Wall time: 88.6 ms

,loc_id,loc_name,folder,publish,modified_date,tags,loc_uid
0,6628-18942,NAP - PTA093 (Tomw(T1)),All Locations.FOUO,0,2020-03-17 08:36:56,,4d703c1437a0424587bdb5778e985898
1,6628-19134,NAP - PTA094 (Tomw(T1)),All Locations.FOUO,0,2020-03-17 08:36:56,,d25ea0d7f502463090f2f5c02014f12f
2,6628-19717,NAP - PTA051 (Tomw(T1)),All Locations.FOUO,0,2020-03-17 08:36:57,,ca94f1e1849e4cee9e188bbff801d61f
3,6628-18881,NAP - PTA161 (Tomw(T1)),All Locations.FOUO,0,2020-03-17 08:36:56,,6d46ac57af1148ca89730c065a14266f
4,6628-20136,NAP - PTA111 (Tomw(T1)),All Locations.FOUO,0,2020-03-17 08:36:57,,c30095c8fd99435cb136c22126baedec
5,6628-20759,NAP - PTA116 (T2),All Locations.FOUO.DEW,0,2020-03-24 14:11:33,,1f8c787c23144762ad46d9c089c1d927
6,6628-21005,NAP - PTA127 (T1),All Locations.FOUO.DEW,0,2020-03-24 14:11:33,,bed705a49b7a43d4a98518598d707f8b
7,6628-16257,NAP - PTA091 (T2),All Locations.FOUO.DEW,0,2020-03-24 14:11:32,,ced58c66d93a42e68d7cfe75b9074f9c
8,6628-3356,NAP - PTA072 (T1),All Locations.FOUO.DEW,0,2020-03-24 14:11:32,,defa5c1925e74e51a15554d4017f9fb4
9,6628-11479,Metro - PTA067 (T2),All Locations.FOUO.DEW,0,2020-03-24 14:11:32,,7045f946e9394688ab37d66c1c6bf612
10,6628-13920,Metro - PTA082 (T2),All Locations.FOUO.DEW,0,2020-03-17 08:36:56,,7e430d74a0a64564bf3c1b826e5f2ba5
11,6628-15205,Barossa - PTA160 (Tomw(T2)),All Locations.FOUO.DEW,0,2020-03-17 08:36:56,,8438f70281f946dfa9f988378d6ebe68
12,6528-254,Metro - PTA040 (T2),All Locations.FOUO.DEW,0,2020-03-24 14:11:32,,34080279fdd44bb79a14d32178619546

In [4]:
loc_ids = gd.identify_aq_locations("A0231013 A0011 6628-20328", aq=aq)
loc_ids

['6628-20328', 'A0231013']

In [5]:
df = aq.find_locations("A0231013")

In [6]:
%%time
df = aq.fetch_locations_data(loc_ids, from_cache=True).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   loc_id                       2 non-null      object
 1   loc_name                     2 non-null      object
 2   loc_type                     2 non-null      object
 3   loc_descr                    2 non-null      object
 4   publish                      2 non-null      int64
 5   folder                       2 non-null      object
 6   tags                         2 non-null      object
 7   modified_date                2 non-null      object
 8   latitude                     2 non-null      float64
 9   longitude                    2 non-null      float64
 10  elev                         2 non-null      float64
 11  WDTFSYNC                     0 non-null      object
 12  WDTFDATAOWNER                0 non-null      object
 13  WDTFSHORTNAME                0 non-null      object
 14  WDTFLONGNAME                 0 non-null      object
 15  ZONE                         2 non-null      float64
 16  EASTING                      2 non-null      float64
 17  NORTHING                     2 non-null      float64
 18  LLDATUM                      0 non-null      object
 19  POSACC                       2 non-null      object
 20  CATCHMENTAREA                0 non-null      object
 21  CEASETOFLOW                  0 non-null      object
 22  TELEMETRY                    0 non-null      object
 23  DATACUSTODIAN                1 non-null      object
 24  SITEMANAGER                  1 non-null      object
 25  SITEOPERATOR                 1 non-null      object
 26  OWNER                        2 non-null      object
 27  INFORMATIONAUTHORITY         0 non-null      object
 28  INFORMATIONMANAGER           0 non-null      object
 29  INFORMATIONCLASSIFICATION    0 non-null      object
 30  COMMENCE                     2 non-null      object
 31  CEASE                        0 non-null      object
 32  ACTIVE                       2 non-null      object
 33  PUBLISHINGSYSTEM             0 non-null      object
 34  SHORTNAME                    2 non-null      object
 35  CONTROL                      0 non-null      object
 36  ASSETID                      0 non-null      object
 37  PROGRAMTITLE                 0 non-null      object
 38  STATUS                       2 non-null      object
 39  STATUSMESSAGE                2 non-null      object
 40  SUBREGION                    2 non-null      object
 41  DRILLHOLENUMBER              0 non-null      object
 42  OBSERVATIONWELLNUMBER        0 non-null      object
 43  UNITNUMBER                   0 non-null      object
 44  AQUIFERCODE                  0 non-null      object
 45  PRESCRIBEDWELLAREA           0 non-null      object
 46  PRESCRIBEDWATERRESOURCEAREA  0 non-null      object
 47  loc_uid                      2 non-null      object
dtypes: float64(6), int64(1), object(41)
memory usage: 784.0+ bytes
Wall time: 37.8 ms

In [8]:
%%time
df = aq.fetch_locations_data(name="Chowilla *", from_cache=False)

Wall time: 3.84 s

In [7]:
df[["loc_id", "tags"]]

       loc_id                                               tags
0    A4260535  Local Government Area:UIA RIVERLAND|NRM Region...
1    A4260693  Local Government Area:RENMARK PARINGA|Hundreds...
2    A4261091  Local Government Area:UIA RIVERLAND|NRM Region...
3    A4261107  Local Government Area:UIA RIVERLAND|NRM Region...
4    A4261167  Local Government Area:UIA RIVERLAND|NRM Region...
5    A4261169  Local Government Area:UIA RIVERLAND|NRM Region...
6    A4261224  Local Government Area:UIA RIVERLAND|NRM Region...
7   7029-1477
8   7029-1479
9   7029-1478
10    7030-85
11    7030-86
12    7030-87
13   7030-360
14   7030-442
15   7030-405
16   7030-447
17   7030-453
18   7030-486
19   7030-601
20   7030-603
21   7030-644
22   7030-654
23   7030-659
24   7030-663
25   7030-671
26   7030-695
27   7030-699
28   7030-703
29   7030-704
30   7030-718
31   7030-705
32   7030-722
33   7030-719
34   7030-734
35   7030-735
36   7030-740
37   7030-745
38   7030-747
39   7030-748
40   7030-749
41   7030-750
42   7030-752
43   7030-758
44   7030-763
45   7030-766
46   7030-773
47   7030-775
48   7030-787
49   7030-823
50   7030-825
51   7030-826
52   7030-828
53   7030-830
54   7030-832
55   7030-833
56   7030-841
57    7130-54
58   RRP01640  Local Government Area:UIA RIVERLAND|NRM Region...